$offer-icon-url: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAEoklEQVR4Xu2bV6gkRRSGv0VUTJgTJgyIKOaEqBhRQVEWlcWMOYsYHxVzejBiwoC6CmLCnAOKAfHBAGYRM4oRFcXIB6ehdvauTk13b9fc2wcuzMytqq7z16mTexpTnKZNcf7pAegloD4CCwAr1F9mpBU+BX4faWZMauIKPADsVmcTNebeDuxXY34jOuBlYHPgJuDvOpvJmDs/sD/wFLBjxrzZhjYhARUA8wJ/1tlMxtzFgO97AAqVgJ2AjTJOM2foq3HqRUvA1sD6OVxljH0NeAkoGoD1gDUzmMoZ+g7wVukA7A1smcNVxthngftKB2BZYPkMpnKGfgF8XToAxwO75nCVMfYe4LrSAdAf0FFpg3R7/ygdgDPDS2sDgBuA80sHoA3GB9cs2gyeBRzSEgpXA+f2ElC4I3QSsHtLEnA3cEXpEuD9XKolAL4BfiwdgAOAbVoCwPj/jtIBMA5YrSUA3gc+LB2AlnifZdmizWAPwFxAoJeAPifYJ0X7rHCfFu/rAoXWBeaCFSw7Ld4DMAICqwPHAbsAfpY+Ah4DrgSMAVKaNI6QxdnTgLMBk6m/AO8C/wBrAQtFwdU843nxu0BMGgAuDAC+BE4F7koaHuYD9gQujgaMy4ATQwwmBQA2Vdhc4YlvC3w1h6uzDPAMsDYwfRwqQ8OoAEX/9WBqg6j3mUXyc0ovAr/GdXgzdME6wKLjHgusC7wBmOPbKzjeAjhyAAB1gwkQyXaYfYCNQ0GOtSd4EHAzcBRwbTDolbhmAACtgtVg6WDgRuDw0BVjDcAJgErN01cKJJsq9h0A4HLgkwQgdYZW4/pxvwJ2dt0GWEjVzksrhjJMMZBhs8DSESEtFl3uLREAS+LDNkmZNH0FeAKwpWYYqtrxtgqL8UFpwdAwTEw05kDg1v+ZbNPFnROMKaJN7rBEk+eAsDiwGaATpB/w3hwm6xrbGeIVsUnqu2TcLWEdcp47y9gm+gRHfjhwMnAJ8BNgUVXL8G0suASgtTgj7P7pwEV1HjbR3K4BUG+8ACwZTBoDfB4btf/Y/QmOjRF+tzmiUeoagB0AS2lKwqHAzoAOkcpUcTca1PbPjDjg7Ua5D4SbXjNnPc3ggoBBUUW6vIbCeyS/XQo8n/gMOc/4z7FdS4ANDw9HUORG3c9ngFXgNC7QB7D7TNe4UeoagOeim6Ty92XyIWA5YBXgr+BW239sxAKTCgDd3FUTRjWH6gKZ1+PT2ZFUktr8wWixNhhdSsDSwOPAhgkXx4Q1WBl4BLg/+d/HkS6rpKI289Wda2ShERaxicLwNw2AbH95EhAA02EXJOuaFDESrKRihEfOPqVLCTg6RPucZFuKub+vFE6QbnJFV4VZTKWiNghdAuBpe6r+LRJhr2K+RvQYPQhsEp3nWgbzAQsPmMyxBuDp6Pgy2/tbpMQVf7NFHowK0s++I/ADYG5g+5CM2oxXC3QpASZBdW3V9tvFSxY/AzNic7rIMv5o+AXmDZSQTRvjvkNPcB7Azm9dYJWa7x7qAZoksQYgmSrz5Qt9ADW/JvCUpvuQu5SAwYP0ZL0KAiEZEygBjfv/6YNLAqBJyR56rSkPwL848lZQY8mIDQAAAABJRU5ErkJggg==';

.task-detail{
  overflow-y: scroll;
}

.offer-icon{
  background-image: url($offer-icon-url);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 100px;
  margin: 20px 0;
}

.button-wrapper{
  text-align: center;
}