.App {
  text-align: center;
  font-family: museo_sans,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  padding: 0;
  margin: 0;
  color: #545A7B;
}
