$location-icon-url: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAHcklEQVR4Xu2af4wcZRnHv887s71yUKSQUtvbnXd2dtvzTqLVo5fQxh+hSFM8YoQ2JliaptHGRKv+a0m0FX+g1YIpIXJGgbSpimhSrIlFhAYIUvFSVH60sjsz72yh0Z7iDzzb25n3MXM5TL3u7s12Z6+93M6/+33f+T6f93mfed8nS5jjD83x+NEB0MmAOU6gswXmeAJ0imBnC3S2wBwn0NkCczwBZv4r0NvbuyA8ffpaMC9jIa5kZgPAP4jZj4hGlFInZ3JRZmQL9Pf3zzszNnYbmDeHwGpD6zASoiS0HoUQEQNXQOtlQojLNfASAfsz1erwn15/fbTdMNoOwJHy4xFwlwF0A3iIgEdySv32MBBODa5oWe+MiD7CwBYBLGFgdzWKvnbixIn/tAtE2wA4jvM2RNGDANYS8PWusbG7Xz516s2EgRgF297IUfQNAv5GRBtKQfBSwrFNydoCQEq5BMBjBiAiYL1S6pWmXE2Ks9nslfOI9mlgNZnmzZ7nPXU+8zQakzoA27avYOanTa3fjAxjne/7f2/RtGFL+T0GNpjMHywHwUiL8/3f8NQBFGz7AKJoWWQYq1II/i2zwpHyp1rr92qiFUEQvJEWhFQBFCxrEzPfL4gGSkHwcj2TxWKxKxoff78A+pjIJMCLiJ5sBKxYLF6uq9UXNHDYV2rLRQcgDkpXqx6Ihl3f31HHYLySn2dgOwFXaeCUAMYBLNFaV0mI4UvGxrbXK5aOlDcBOMhCvMfzvN+nASG1DMhL+QnSelemu9s6fvz4v6aaGxgYyLwxOvpwBAyZwD1aiHs9z1OxLq4bxLwRwA4NnDRNc025XP5LrQDzlvUsEbmuUrG+5SdNAM8I4GhZqW21XDmWdTeIthIwVFbqyVqaQqGQC8PwCYPopOv7HwDAU3V5y9pIRMOZ+fMX1wLdLJFUAFiWtdAkGhVEa0q+f3iqCSebXQbDOAbgk65SP2hkspDLXRMKcdQg2uT6/g+navsXLbpsbP78+GxwqxcEP2824Kn6VADYtr2WmQ9mMpnLSqXSmXNWTco7AdzmKVWstarnAJNyH4iudn3/xprZJOVzYH7CDYLtFwWAgmVti4TY5vv+8jrpfwhEJVepTycxPHl8/q5SakGd+R4A0QJXqfVJ5mukSSUDHNveQVG0tlypXFfH8BEiOlhWKs6EaR/HstaA6HFLqUytO0Neym8S87VuEFw/7WTTCNIBYFlf0kQ3+kqtrvU+27J+IYg8V6nPJDEcZwC0vtetVBbWLJZSfpWZr7toAMSfQAHsLCvVU8twXso7NLBZKRVvkXMqe40asJeBhZ5SQzWBSrnfAMKyUpuSAG37FogrNwvxR4O58GoQuFNfWOzpyYZClA3D2Fr2/YcaGSpaVn/I/IJpGBtKvn+gTkYFguguV6n7LgoAsQnbsgKDaE9ZqV11siA+/W1nrdd5lcrTtTTLs9meUIhfg+hVV6mba86Tzw+S1kfqwW4WSCo1IH5pXso7iXmDGwR9ddKcHCn3aK23CsPYDSHuc103iMdO9g7ixslOg+gVYZpDpVLpn3X2/zAz97pBEB+UWn5SA+A4jqWr1dJ0B5S8Za0nop0A+qH1nzXRuCDq0VE0agjx7VwQ7K5V+eNIC4XC1RyGPhFtKfv+j1qOHki3Kerkct+PhHiXUmrldOby+XyvYO7TWs8jZtetVI4CiBqNK0i5K26Z+b4fZ1lD7XTvf+v31DIgnlBKmSetjxHR7V4QPJzURBJdnGGoVo8z0VYvCPYmGZNEkyqAiTTN5b7FzOvHgb40m5kF2/5xyOwopQaTfEqTBB9rUgcwUdCq1WMgeiCNs/pEkbSsG0B0iID3lZV6NmlwSXSpA5jIAtv+WBRFe8k0V7bauFi6dGn3vEzmD4L5cTcIPpUkqGY0bQEwsWq2/Si0zi1ctGhwZGSk2oyps7V52/4OMd+qia5Jscf4v1e0DYBt228n5heJefh8t8LkpegxTXST7/uHzhdio3FtAzCRBVLeAuAnBNxQrwtUz9w7enquGjfNuO93IOk1+nwAtRVAbChv2/cL5iHKZFaUSqVTCU3Gp8ZHI8AmopW+759OOK5pWdsBZLPZS0zTPCK0PukGwToAejqXjm1/Acx3CObBRu316eZJ8nvbAUxsBcdZrsPwd0R0j6fUFxsZm/zk/RLAJlep/UmCaEUzIwAmPo1SfpSBRwTRLfWuucssy4mInmeifZ7vf66VwJKOnTEAkxC+EjF/1mBeVa5UXjzbZNzt/Xd392/i/wzISuVD9S5ESQNLqptRAPHJ05HyZ9B6hejqGjyrKBp5KePmR19XGA4ee+21vyYNoFXdTAPA4sWLL720q+sZYj59hvn6+L5QkHIPa327IFrV7qI3FdiMA4gNxC0ybZrPAXgeREd0FH2ZiD7sBcGvWl3RZsdfEAAT54N8/t0chk/F/wsios3T9QqbDSyp/oIBmCyKcV9/oF4fMWkQreguKIBWjKc1tgMgLZKzdZ5OBszWlUvLdycD0iI5W+fpZMBsXbm0fHcyIC2Ss3WeOZ8B/wWVYfBfuYeJ0AAAAABJRU5ErkJggg==';
$date-icon-url: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAE00lEQVR4Xu1ZTYgcRRR+r6pnZjcimGSNmmD8wXXBMF1VjqwoJK4HCd70IMIedlECIiT4iyL+BRNFMHhR9KCihyB40IPmIkhAV7NxY6aqen8OujEuiX9owprdKM52v5KGrIyzE2V6GqbX6T521Xvvq6++9151NUKXP9jl64ecgFwBXc5AngJdLoC8COYpkKdAlzOQp0CXCyDvAnkK5CmQMgNSyh3OuY3W2ufSdC2l3O2cm7PWvp2m31RTQAhxD2PsZufcL4yxs9Vq9fk0wAohnkbEknPuMs75WLVafScNv7GP1AhQSm10zj2GiN8CwHdENOJ53q40gEZR9BoAvAkA/c65zYyxfVrrH9Lw3TYBSqn7AWBHFEV/AsA1jLEDiPi1c+5xADiZBkgiupxzvoeIBCJuJ6JjnPNSTIrW+vV2YrRFgBDiYUSMQT2jtZ4TQuwBgBMAMBdF0fDU1NToMrhyubzW8zyvGdiFhYUzpVLpgmKxyAuFAk1MTJyqnyel3I+IsexjBVxijNmtlLrCObcXESe01q8kJSExAQMDAxeWSqXJIAiuXA4upRwiogedcwuxEqy17y2PKaU+JKL+ZkDPpc4DALAJEc8YY25sIGCYc749iqKLiGhfEARjdTFP9Pb2Xjs+Pv5HEhISE+D7/ggi9llrX64PLIS4FQA21C8+CbBGm3K5POx53vda60/rx5RSjxDRz9ba/UniJCZACHEfIm42xjyZJHBaNkqpF51zs8aYuEi2/OQEtEzZOQPf919CxK0A8HlSH2nYxRgQ8aDW+okk/hIrQEr5LADcAADvJwmclg0R3YWI49bavUl8JiYgrwF5Ecy7wH+2QSHEpvhw05ibURT9ODU1FZ8Y/34qlcrmMAwvbZzLGDv5b+f+LLdBLJfLX3LOf21SnNYtLi7eMjs7G38/QKVSWRNF0UEAON2ErL7JycnB8xW4LBPAfN//KQiCDY3gfd+fA4DrgiA4G4/Fx+re3t7AGHNV41wp5SljzPqcgPMwkGUFgFLqMyIqNGJHxFqtVrttZmamFo8NDQ31zM/Pf+ycKzapAUta622rUQGwZcuWdYVCYYV8i8Xi6cZP3kql0hdF0drGhS4tLZ2anp5eURuW52VaAUlOZq3aZJoAKWU/It7epLIfD4Lgo/r3vu9v5ZyrxrlEdNhaO7EqU8D3/SOe533hnPuHhJ1zdzLGRqvVarDcBXp6eqYZYys+aaMo2hUEwcWrkgAhxDgijhhjvqlfgBDiE0R81Bhj/s9tEIQQhxljO8MwPNawgx9wzh+qJyC+XnPOrUgBz/OOaa3XrUoFSClfcM7dDQBUv4D46rxYLA4vd4JKpVIgoneJSDZpg0e01sOrkoBWK3qS+ZnuAkkW1KpNxwiQUt4R3wgZY55qFXSa88+l2SFr7YEkfhPfCMXBpJTxH5rrjx49+luS4O3aDA4Orq/VaoeMMQNJfbVFgFLqpjAM3/A871UiGmOMNf3zkxTc+eyIKGSMbQvDcKfneaNa66+SxmiLgDhouVy+mnN+LwDEv8jWJAXSip1z7ncAsET0VhAEx1uxbZzbNgHtBM+CbU5AFnahkxhyBXSS/SzEzhWQhV3oJIZcAZ1kPwuxcwVkYRc6iSFXQCfZz0LsXAFZ2IVOYuh6BfwFcz2uX4ZyQEwAAAAASUVORK5CYII=';

%icon{
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
}

.poster-info-item{
  display: flex;
  text-align: left;
  position: relative;

  &::after{
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    left: 45px;
    right: 5px;
    bottom: 0;
    background-color: #f6f8fd;
  }

  .poster-detail{
    display: flex;
    flex-direction: column;
    margin-top: 13px;
    margin-bottom: 15px;


    .title{
      font-size: 12px;
      letter-spacing: .4px;
      font-weight: 700;
    }
  }
}

.icon-wrapper{
  width: 34px;
  height: 34px;
  margin-top: 13px;
  margin-right: 15px;
}

.avatar{
  @extend %icon;
  border: 1px solid #bbc2dc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  img{
    width: 80%;
    height: 80%;
  }
}

.location-icon{
  @extend %icon;
  background-image: url($location-icon-url);
}

.date-icon{
  @extend %icon;
  background-image: url($date-icon-url);
}