.question{
  max-height: 253px;
  margin: 0px 16px;
  padding: 16px 0px;
  border-top: 1px solid rgb(231, 235, 251);
  transition: max-height 0.3s ease-out 0s;
  font-family: museo-black, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

  .title-bar{
    display: flex;
    color: rgb(84, 90, 119);
    
    font-size: 11px;
    letter-spacing: 0.8px;
    line-height: 16px;
  }

  .notice{
    text-align: left;
    margin: 16px 0;
    color: rgb(41, 43, 50);
    font-size: 16px;
    letter-spacing: 0.15px;
    line-height: 20px;
  }

  .input-wrapper{
    display: flex;
    
    .avatar{
      width: 40px;
      height: 40px;
      display: block;
      margin-right: 10px;
      border: 1px solid #bbc2dc;
      border-radius: 50%;
    }

    .input{
      box-sizing: border-box;
      display: table-cell;
      margin: 0;
      position: relative;
      vertical-align: top;
      width: 100%;
      padding: 8px 8px 40px;
      box-shadow: inset 0 1px 2px 0 hsla(0,0%,75.3%,.5);
      border: 1px solid #bbc2dc;
      border-radius: 4px;
      cursor: text;
      overflow: hidden;

      .text-area{
        border: none;
        outline: none;
        font-size: 14px;
        height: 50px;
        min-height: 50px;
        width: 100%;
        max-height: 140px;
        padding: 0;
      }
    }
  }
}